/* Rendered Markdown ============================== */

.post-page .content .container,
.writer-page .container .input-and-preview .preview {

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      color: rgb(14, 14, 14);
      font-weight: 500;
   }

   h1 {
      font-size: 28px;
   }

   h2 {
      font-size: 24px;
   }

   h3 {
      font-size: 20px;
   }

   h4 {
      font-size: 18px;
   }

   h5 {
      font-size: 16px;
   }

   h6 {
      font-size: 14px;
   }

   blockquote {
      color: rgb(14, 14, 14);
      border-left: 3px solid rgb(18, 18, 18);
      margin-left: 0;
      margin-right: 0;
      padding-left: 30px;

      p:before {
         content: "“ ";
      }

      p:after {
         content: " ”";
      }

      p:after,
      p:before {
         font-weight: 600;
      }
   }

   $code-background: #e5e5e5;

   code {
      background-color: $code-background;
   }

   pre {
      padding: 0;
      background-color: $code-background;
      font-size: 0.8em;

      code.hljs {
         padding: 20px;
         overflow-x: auto;
      }
   }

   // img {
   //    max-width: 80%;
   // }
}