@use "./variables";

/* Post Page ======================================= */

.post-page {
   max-width: 1200px;
   background-color: white;
   margin: 0 auto;
   min-height: variables.$full-height;

   header {
      background-color: rgb(18, 18, 18);
      padding: 20px;

      .container {
         max-width: 740px;
         margin: 0 auto;
         color: white;

         h1 {
            // margin: 0;
         }

         .summary {
            font-size: 18px;
            color: grey;
            padding: 20px 0;
            font-weight: 500;
         }

         .details {
            padding-top: 10px;
            font-size: 14px;
            color: grey;
            border-top: 1px rgb(56, 56, 56) solid;
            // width: fit-content;
         }

         @media screen and (min-width: 800px) {
            h1 {
               font-size: 60px;
            }

            .summary {
               font-size: 24px;
            }

            .details {
               // font-size: 14px;
               // color: grey;
            }
         }
      }
   }

   .content {
      padding: 20px;
      color: hsl(220, 17%, 15%);
      font-size: 20px;

      .container {
         max-width: 740px;
         margin: 0 auto;

      }
   }

   .header.loading-animation {
      padding: 20px;
      background: none;

      .container {
         max-width: 740px;
         margin: 0 auto;

         h1 {
            height: 40px;
            margin-bottom: 10px;
            width: 80%;
         }

         .summary {
            height: 22px;
            margin: 10px 0;
            padding: 0;
         }

         .details {
            border-top: none; // width: fit-content;
            height: 14px;
            max-width: 250px;
         }

         @media screen and (min-width: 800px) {
            h1 {
               height: 60px;
            }

            .summary {
               height: 24px;
            }

            .details {}
         }
      }
   }

   .content {
      .container {
         .line {
            height: 20px;
            margin: 10px 0;
         }

         p:nth-child(1) {
            .line:nth-child(3) {
               width: 70%;
            }
         }

         p:nth-child(2) {
            .line:nth-child(3) {
               width: 90%;
            }
         }

         p:nth-child(3) {
            .line:nth-child(3) {
               width: 80%;
            }
         }

         p:nth-child(4) {
            .line:nth-child(3) {
               width: 90%;
            }
         }

         p:nth-child(5) {
            .line:nth-child(3) {
               width: 60%;
            }
         }
      }
   }
}