{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'favicon.ico' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <form>{% csrf_token %}</form>
    <script src="{% static 'dist/elm.js' %}"></script>
    <script>
      Elm.Main.init({
        flags: document.querySelector("form [name='csrfmiddlewaretoken']")
          .value,
      });
    </script>
  </body>
</html>
